HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.class

/node_modules

*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mjt.tmp/

# Package Files #
*.jar
*.war
*.ear

#Gradle temporary files
target/

#Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project

#IntelliJ files
**/*.iml
**/.idea
**/.gradle

#virtual machine crash logs, see
hs_err_pid*
/.metadata/
